<!--The content below is only a placeholder and can be replaced.-->

<!-- This is the shell page. -->

<!-- The dynamic pages are rendered below this -->

<div class="container pb-5">
  <div class="text-center p-3 bg-dark text-white">
    Edwisor
  </div>

  <nav class="navbar navbar-expand-md bg-light text-dark">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/home']" >Blog Application</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse d-flex justify-content-end pr-3" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create</a>
        </li>
      </ul>
    </div>
  </nav>

  


</div>

<router-outlet></router-outlet>